.pre-login{
    background-color: #343A40;
}
.card-login{
    margin-top: 70px;
    margin-left: 350px;
    margin-right: 350px;
}
.card-create{
    margin-top: 70px;
    margin-left: 250px;
    margin-right: 250px;

}
.card-reset{
    margin-top: 70px;
    margin-left: 350px;
    margin-right: 350px;
}